@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "Gilroy_Regular";
  src: url(./gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy_Medium";
  src: url(./gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy_Semibold";
  src: url(./gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy_Bold";
  src: url(./gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy_Black";
  src: url(./gilroy/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy_Light";
  src: url(./gilroy/Gilroy-Light.ttf);
}
@font-face {
  font-family: "Gilroy_Thin";
  src: url(./gilroy/Gilroy-Thin.ttf);
}
.linne:hover > div:last-child {
    display: flex;
}

.linnemedial {
    @media (max-width: 768px) {
        background-color: #0f0776;
        border-radius: 9px;
        padding: 10px;
        width: 100%;
        margin-top: 1rem;
    }
}

.linnemedial:focus {
    box-shadow: 0 0 0 2px #fa0776;
    transition: box-shadow 0.2s ease-in-out;
    padding: 10px;
    border-radius: 9px;
    background-color: #faebd766;
}
.rubic {
    color: #ffdcdcb1;
    background-clip: text;
}


@tailwind base;
@tailwind components;
@tailwind utilities;