@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "Gilroy_Regular";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy_Medium";
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy_Semibold";
  src: url(./assets/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy_Bold";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy_Black";
  src: url(./assets/fonts/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy_Light";
  src: url(./assets/fonts/Gilroy-Light.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .over_fix:hover > div > p {
  color: #ffffff88;
} */
